.input_form {
  background-color: white;
  margin: 1rem auto;
  padding: 1rem 2rem;
  /*align-items: center;*/
  width: 20rem;
  /*height: 20rem;*/
  border-radius: 10px;

}

.input_form label {
  background-color: white;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  display: block;
}

.input_form input {
  font: inherit;
  background-color: white;
  border:1pt solid lightgray ;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}
